<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>To Do List(VUE)</title>
    <script src="vue.min.js" ></script>
    <link rel="stylesheet"href="htmlpage.css"/>
</head>
<body>
    <div id="container">       
            <h2>TO DO LIST</h2>
            <div class="add">
                <h3>Add Task</h3>
                <div class="line"></div>
                <input v-model="newtodo" placeholder="输入你想要做的事，点击按钮即可添加任务" type="text" id="input" />
                <button id="btn" class="button blue" v-on:click="addNewtodo(newtodo)">ADD</button>
                <button class="button red" v-on:click="reset">{{re}}</button>
            </div>
                <div id="incomplete">
                    <h3>Incomplete</h3>
                    <div class="line"></div>
                    <ul>
                        <li v-for="todo,index in todos" v-on:click="adddone(todo)" v-bind:todo="todo.title" v-if="todo.check">
                            {{todo.title}}
                            <div v-cloak v-on="hide">
                                <div v-on:click.stop v-if="show">
                                    <input type="text" v-model="todo.title" />
                                </div>
                                <button class="button red" v-on:click="todos.splice(index,1)">remove</button>
                            </div>
                        </li>
                </ul>
            </div> 
            <div class="done">
                <h3>Completed</h3>
                <div class="line"></div>
                <ul>
                    <li v-for="todo,index in todos" v-bind:todo="todo.title"v-if="!todo.check"v-on:click="adddone(todo)">
                        {{todo.title}}
                    </li>
                </ul>
            </div>   
    </div>
    <script src="JavaScript.js"></script>
</body>
</html>